<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="/js/login/login.js" defer></script>
    <link rel="stylesheet" href="/css/login/login.css" />
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <input type="text" placeholder="아이디" id="id" />
          <input type="password" placeholder="비밀번호" id="pw" />
          <button id="btn">login</button>
          <p class="message">
            Not registered? <a href="/join">Create an account</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
