<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join</title>
    <script src="/js/join/join.js" defer></script>
    <link rel="stylesheet" href="/css/login/login.css" />
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <input type="text" placeholder="아이디" id="id" />
          <input type="text" placeholder="이름" id="name" />
          <input type="password" placeholder="비밀번호" id="pw" />
          <input type="password" placeholder="비밀번호 확인" id="confirm-pw" />
          <button id="btn">SIGN UP</button>
          <p class="message">Already registered? <a href="/login">login</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
